/* @font-face{
    font-family: "LEGO" !important;
    src: url("/Lego_Font/LEGO.ttf") !important;
}

.LEGOTTF{
    font-family: "LEGO", sans-serif;
    font-size: 2rem;
} */

/* body{
    font-family: "LEGO", sans-serif !important;
    font-size: 2rem;

} */

#lol{
    /* border-radius: 5px;
    border-color: #d0021b;
    border-width: thick; */
    background-color:#e3000b;
}

header:hover {
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
    background-color: rgba(255, 255, 255, .25);
}

#lel{
background-color:#ffd502 ;
}

h5{
    color:#e3000b ;
}

.carousel-text{
    color:#e3000b ;

}

.links{
    color: #ffd502 !important;
}


.links:hover {
    color: pink !important;
}


.background{
    background-color: #E6E3DA;
}
/* .backgroundall{
    background-color: #e3000b;
} */

.links:active {
    color: black !important;
}

/* .links:visited {
    color: black !important;
} */

/* #image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 40vh;
} */

/* #carouselExampleDark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
    height: 100rem;
    margin-left: auto;
    margin-right: auto;
} */

/* *{
    background-color:#d0021b;
} */

/* // <uniquifier>: Use a unique and descriptive class name */

/* .honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    /* "MORF" 15, */
    /* "MORF" 10,
    "SHLN" 50;
    
} */ 

/* // <uniquifier>: Use a unique and descriptive class name
// <morph>: Use a value from 0 to 45
// <shadow length>: Use a value from 0 to 100 */

.honk {
    
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  
  font-style: normal;
  font-variation-settings:
    "MORF" 25,
    "SHLN" 13;
}

/* .ohnosoftie {
    font-size: 2vh;
    font-family: "ohno-softie-variable" ,sans-serif;
    font-style: normal;
    font-variation-settings: 'wght' 900;

  }  */

  /* adobefonts above  */


  /* // <uniquifier>: Use a unique and descriptive class name
// <extrusion depth>: Use a value from 0 to 200
// <edge highlight>: Use a value from 0 to 24 */

.nabla {
    color: #e3000b !important;
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 18,
    "EHLT" 24;
}

/* .border-success {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
  } */

  /* rgb  25, 135, 84 */